@import "tailwindcss";

body {
  margin: 0;
  min-height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  background-color: #f5fbff; /* light blue, similar to Cashflow */
  color: #0f172a;            /* slate-900 style text */
}

#root {
  min-height: 100vh;
}
